<html>
    <body>
        <h1>Cadastro de Ferramentas</h1>

        <form action="/livros" method="post">

            <input type="hidden" id="id" name="id" />

            <div>
                <label for="titulo">Descrição:</label>
                <input type="text" id="Descrição" name="Descrição" placeholder="coloque a Descrição" />
            </div>
            <div>
                <label for="price">Preço:</label>
                <input type="text" id="price" name="price" placeholder="coloque o preço" />
            </div>

            <input type="submit" value="Salvar" />
        </form>
    </body>
</html>