<html>
    <body>
        <h1>Edição de Ferramenta</h1>

        <form action="/teste_marko/save/${tool._id}" method="post">

            <div>
                <label for="description">Descrição:</label>
                <input type="text" id="description" name="description" value="${tool.description}" placeholder="coloque a Descrição" />
            </>
            <div>
                <label for="price">Preço:</label>
                <input type="number" id="price" name="price" value="${tool.price}" placeholder="coloque o preço" />
            </div>
            <div>
                <label for="typeOfTool">Tipo de Ferramenta:</label>
                <input type="number" id="typeOfTool" name="typeOfTool" value="${tool.typeOfTool}" placeholder="coloque o tipo" />
            </div>
            <div>
                <label for="code">Código da Ferramenta:</label>
                <input type="text" id="code" name="code" value="${tool.code}" placeholder="coloque o código" />
            </div>
            <div>
                <label for="quantity">Quantidade:</label>
                <input type="number" id="quantity" name="quantity" value="${tool.quantity}" placeholder="coloque a quantidade" />
            </div>

            <input type="submit" value="Salvar" />
        </form>
    </body>
</html>